html,
body {
    height: 100%;
    background-color: #23232c;
}

body {
    
    text-align: center;
    text-shadow: 0 1px 3px rgba(0, 0, 0, .5);
    box-shadow: inset 0 0 100px rgba(0, 0, 0, .5);
}

h1 h2 h3 h4 {
    color: white;
}

.masthead-brand {
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
}

.masthead-nav > li {
    display: inline-block;
}

.masthead-nav > li + li {
    margin-left: 20px;
}

.masthead-nav > li > a {
    padding-right: 0;
    padding-left: 0;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    /* IE8 proofing */
    color: rgba(255, 255, 255, .75);
    border-bottom: 2px solid transparent;
}

.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
    background-color: transparent;
    border-bottom-color: rgba(255, 255, 255, .25);
}

.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
    color: #fff;
    border-bottom-color: #fff;
}

@media (min-width: 768px) {
    .masthead-brand {
        float: left;
    }
    .masthead-nav {
        float: right;
    }
}

/* 
 * Header buttons 
 */

.btn-default,
.btn-default:hover,
.btn-default:focus {
    color: #333;
    text-shadow: none;
    /* Prevent inheritence from `body` */
    background-color: #fff;
    border: 1px solid #fff;
}

.navbar-wrapper .masthead {
    width: 90%;
}

/* 
 * Extra markup and styles for table-esque vertical and horizontal centering 
 */

.navbar-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 20;
}

.navbar-wrapper .container {
    padding-right: 0;
    padding-left: 0;
}

.site-wrapper {
    display: table;
    width: 100%;
    height: 100%;
    /* For at least Firefox */
    min-height: 100%;
}

.site-wrapper-inner {
    display: table-cell;
    vertical-align: top;
}

.cover-container {
    margin-right: auto;
    margin-left: auto;
}

.inner {
    padding: 30px;
}

/*
 * Cover
 */

.cover {
    color: white;
    padding: 0 20px;
}

.cover .btn-lg {
    padding: 10px 20px;
    font-weight: bold;
}

/*
 * Carousel
 */

/* Carousel base class */

.carousel {
    height: 500px;
    margin-bottom: 50px;
}

/* Since positioning the image, we need to help out the caption */

.carousel-caption {
    z-index: 10;
}

/* Declare heights because of positioning of img element */

.carousel .item {
    height: 500px;
    background-color: #777;
}

.carousel-inner > .item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 500px;
}

/*
 * Content
 */

/* Pad the edges of the mobile views a bit */

.content {
    color: white;
    padding-right: 15px;
    padding-left: 15px;
}

/* Center align the text within the three columns below the carousel */

.content .col-lg-4 {
    margin-bottom: 20px;
    text-align: center;
}

.content h2 {
    font-weight: normal;
}

.content .col-lg-4 p {
    margin-right: 10px;
    margin-left: 10px;
}

.control-play {
    padding: 0;
    border: 0;
    margin: 0;
}

/*
 * About
 */

#crawl
{
    width: 1000px;
    margin: auto;
	-webkit-perspective: 800px;
	-webkit-perspective-origin: center 350px;	
	-moz-perspective: 800px;
	-moz-perspective-origin: center 350px;
}

#text 
{
    display: none;
	margin: auto;
    width: 600px;
	text-align: justify;
	-webkit-transform: rotateX(55deg) translateY(800px) translateZ(300px);
	-webkit-backface-visibility: visible;
	-moz-transform: rotateX(55deg) translateY(800px) translateZ(300px);
	-moz-backface-visibility: visible;		
}

/* 
 * Forms 
 */

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
    vertical-align: middle
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}

.form-signin .checkbox {
    font-weight: normal;
}

.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

/*
 * Footer
 */

.mastfoot {
    color: #999;
    /* IE8 proofing */
    color: rgba(255, 255, 255, .5);
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
    /* Pull out the header and footer */
    .masthead {
        position: fixed;
        top: 0;
    }
    .mastfoot {
        position: fixed;
        bottom: 0;
    }
    /* Start the vertical centering */
    .site-wrapper-inner {
        vertical-align: middle;
    }
    /* Handle the widths */
    .masthead,
    .mastfoot,
    .cover-container {
        width: 100%;
        /* Must be percentage or pixels for horizontal alignment */
    }
}

@media (min-width: 992px) {
    .masthead,
    .mastfoot,
    .cover-container {
        width: 700px;
    }
}
