@import url("https://fonts.googleapis.com/css?family=Bitter");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: bitter;
}

html,
body {
    height: 100%;
    min-height: 100%;
    font-family: 'Open Sans', sans-serif;
}

ul {
    list-style-type: none;
    padding: 10px;
    margin: 0 auto;
}

ul li {
    margin: 0 10px;
}

li {
    list-style-type: none;
    padding: 10px;
}

li ul {
    text-align: center;
}

a {
    padding: 10px 0;
    color: #000000;
    font-size: 1rem;
    font-weight: bold;
    transition: all 0.2s ease;
}

a:hover {
    color: #34495f;
}

h1 {
    text-align: center;
    font-size: 4rem;
    color: #34495a;
}

h4 {
    text-align: center;
    padding: 4px;
}

.search {
    position: fixed;
    text-align: right;
    padding: 20px;
    right: 0;
    top: 0;
}

.login {
    padding-top: 10%;
    height: 100%;
    min-height: 100%;
    text-align: center;
    vertical-align: middle;
    font-family: 'Open Sans', sans-serif;
}

.login div {
    padding: 10px;
}

.login label {
    text-align: center;
    font-size: 2rem;
    color: #34495a;
    padding: 10px;
}