<html>

<head>
    <title>WebApp: Login</title>
    <link href="css/style.css" rel="stylesheet">
</head>

<body>
<div class="login">
    <form method='POST'>
        <label>Username</label>
        <div>
            <input type='text' name='username'/>
        </div>
        <label>Password</label>
        <div>
            <input type='password' name='password'/>
        </div>
        <div>
            <input type='submit' value='Sign in'/>
        </div>
    </form>
</div>
</body>

</html>